*.sublime*

db/
greybox_tmp/
incremental_db/
rs232_example/
simulation/

*.rpt
*.cdf
*.done
*.dpf
*.ddb
*.smsg
*.summary
*.bak

*.sof
*.srf
*.qsf
*.qpf
*.qws
*.sdc
*.jdi
*.qdf
*.qip

PLLJ_PLLSPE_INFO.txt